* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}
a {
    font-family: "GothamPro Bold";
    text-decoration: none;
}

body {
    background: #fff;
}


.start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(107, 180, 67);
    padding: 16px 40px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}


.start section {
    display: flex;
    align-items: center;
}


.languages ul li {
    margin-right: 10px;
    cursor: pointer;
}



.login p {
    margin-left: 10px;
}


.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.nav__search--input {
    width: 380px;
}


.nav__search--input input {
    width: 380px;
    height: 46px;
    border-radius: 8px;
    padding-left: 10px;
}


.nav__search {
    display: flex;
    align-items: center;
    border: 2px solid rgba(122, 199, 81, 1);
    border-radius: 8px;
}


.search__categories {
    padding: 15px 0 15px 5px;
    border-left: 1.5px solid #ccc;
    margin: 0;
}


.search__icon {
    color: #fff;
    background: rgba(122, 199, 81, 1);
    padding: 15px 20px;
    margin-left: 15px;
    cursor: pointer;
}

.nav__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav__icons img {
    margin-left: 20px;
}


.nav__icons img:first-child {
    margin-left: 0;
}

/*Collections*/
#main {
    margin-top: 30px;
    padding-bottom: 100px;
}


#collections {
    display: flex;
    align-items: center;
    background: rgba(247, 248, 250, 1);
}


.collections__nav ul {
    display: flex;
    align-items: center;
}


.collections__nav ul li {
    margin-left: 70px;
}


.collections__nav ul li a {
    color: #252525e0;
}


.collections__nav ul li:first-child {
    margin-left: 80px;
}



.collections__menu {
    display: flex;
    align-items: center;
    background: rgba(122, 199, 81, 1);
    min-width: 260px;
    height: 67px;
    color: #fff;
    font-family: serif;
    padding-left: 35px;
    margin-left: 90px;
}


.collections__menu p {
    font-size: 16px;
    margin-left: 10px;
    font-family: "GothamPro Bold";
}


.collections__main {
    display: flex;
    margin-left: 90px;
    background: rgba(247, 248, 250, 1);
    width: 260px;
    height: 450px;
}


.collections__main ul li {
    width: 260px;
    margin: 0;
    padding: 11px 0 11px 30px;
    border-bottom: 1px solid #ccc;
    font-family: "GothamPro Medium";
    font-size: 16px;
    transition: .5s;
}


.collections__main ul li:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}


.collections__shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(rgba(241, 250, 255, 0.88), rgba(241, 250, 255, 1));
    margin: 10px 0 0 10px;
    padding: 40px 40px 40px 40px;
    border-radius: 1px;
}


.collections__secondary {
    margin-left: 30px;
}


.first__image img {
    width: 90px;
}


.third__image img {
    margin-left: 25px;
}


.second__image img {
    margin-left: 3px;
}


.second__image, .first__image, .third__image {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}


.second__image, .first__image {
    margin-bottom: 30px;
}


.cost {
    color: rgba(122, 199, 81, 1);
    font-size: 14px;
    text-align: center;
    font-family: "GothamPro Medium";
}


.image__description {
    color: rgba(85, 85, 85, 1);
    font-size: 10px;
    font-family: "GothamPro Medium";
    text-align: center;
    white-space: nowrap;
}


.collections__shop--info {
    margin-right: 40px;
}


.collections__shop--first {
    color: rgba(122, 199, 81, 1);
    font-size: 22px;
    white-space: nowrap;
}


.collections__shop--second {
    color: #000;
    font-size: 40px;
    font-family: "GothamPro Bold";
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: -10px;
}


.furniture__image {
    margin-left: 120px;
}


.collections__shop--third {
    color: rgba(81, 81, 81, 0.71);
    font-size: 27px;
    margin-top: 30px;
}


.collections__shop--button {
    background: rgba(122, 199, 81, 1);
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-family: "GothamPro Medium";
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}


.collections__shop--button:hover {
    background: rgb(92, 150, 61);
}

/*Information*/
.information {
    display: flex;
    align-items: center;
    margin-top: 50px;
}


.information__about {
    display: flex;
    align-items: center;
    margin-left: 105px;
}


.information__about:first-child {
    margin-left: 90px;
}


.information__title {
    margin-left: 15px;
    font-size: 20px;
    color: rgba(85, 85, 85, 1);
    font-family: "GothamPro Medium";
}


.information__subtitle {
    color: rgba(85, 85, 85, 1);
    font-family: "GothamPro Medium";
    font-size: 14px;
    margin-left: 15px;
}

/*Profitable*/
.profitable {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 90px;
}


.profitable__first div, .profitable__second div {
    position: relative;
}


.profitable__first--primary, .profitable__second--primary {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
    color: #000;
    font-size: 22px;
    font-family: "GothamPro Medium";
}


.profitable__first--secondary, .profitable__second--secondary {
    position: absolute;
    top: 70px;
    left: 40px;
    z-index: 1;
    color: rgba(122, 199, 81, 1);
    font-size: 18px;
    font-family: "GothamPro Medium";
}


.profitable__first--third, .profitable__second--third {
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 1;
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
}


.profitable__first--third:hover {
    color: rgb(78, 78, 78);
    cursor: pointer;
}


.profitable__second div {
    display: block;
    margin-left: 20px;
    margin-top: 14px;
}


.profitable__second section div {
    margin-top: 0;
}

/*Trending*/
#trending {
    margin-top: 60px;
}

#trending h1 {
    text-align: center;
    color: rgba(85, 85, 85, 1);
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 45px;
}


.trending__sections ul {
    display: flex;
    align-items: center;
    justify-content: center;
}


.trending__sections ul li {
    margin-left: 40px;
    font-family: "GothamPro Medium";
    color: rgba(194, 194, 194, 1);
    font-size: 24px;
}


.trending__sections ul li:hover {
    color: rgb(175, 250, 134);
    cursor: pointer;
}


.trending__sections ul li:first-child {
    margin-left: 0;
    color: rgba(122, 199, 81, 1);
}


.trending__items {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 0px 100px;
}


.trending__items--info {
    position: relative;
    margin-left: 20px;
}

.trending__items:first-child {
    margin-left: 0;
}


.new, .sale {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0px 0px 5px 0px;
    font-size: 12px;
    font-family: "GothamPro Medium";
}


.new {
    background: rgba(0, 183, 241, 1);
}

.sale {
    background: rgba(122, 199, 81, 1);
}

.items__name {
    font-size: 14px;
    color: rgba(117, 117, 117, 0.71);
    font-family: "GothamPro Medium";
    margin-top: 10px;
    margin-bottom: 5px;
}


.items__descrip {
    font-size: 20px;
    color: rgba(85, 85, 85, 1);
    font-family: "GothamPro Medium";
}


.items__cost {
    color: rgba(122, 199, 81, 1);
    font-size: 18px;
    font-family: "GothamPro Medium";
    margin-top: 5px;
}


.items__del--cost {
    color: rgba(204, 204, 204, 1);
    font-size: 18px;
    font-family: "GothamPro Medium";
    margin-left: 5px;
    margin-top: 5px;
}


.items__icons i {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding: 10px;
    background: #fff;
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}


.items__icons i:hover {
    background: #111111;
    color: #fff;
}


.fa-heart {
    position: absolute;
    top: 15%;
    left: 270px;
}


.fa-shopping-bag {
    position: absolute;
    top: 30%;
    left: 270px;
}


.fa-sync {
    position: absolute;
    top: 45%;
    left: 270px;
}


.fa-eye {
    position: absolute;
    top: 60%;
    left: 270px;
}


.trending__items--info:hover .items__icons i {
    visibility: visible;
    opacity: 1;
    animation: move 1s;
    animation-fill-mode: forwards;
}


.special-text {
    color: rgba(85, 85, 85, 1);
    font-size: 36px;
    text-align: center;
    margin-top: 120px;
    font-family: "GothamPro Medium";
}


.special-offer {
    display: flex;
    flex-direction: row;
}


.special-offer__about {
    margin-left: 70px;
    margin-top: 50px;
}


.sells {
    position: absolute;
    top: 0;
    left: 486.2px;
    color: #fff;
    font-size: 16px;
    font-family: "GothamPro Medium";
    background: rgba(0, 183, 241, 1);
    border-radius: 0px 0px 0px 5px;
    padding: 3px 10px;
}


.special-offer__about {
    position: relative;
}

.special-offer__info h1 {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(85, 85, 85, 1);
    font-size: 26px;
    font-family: "GothamPro Medium";
    padding: 30px 20px;
}


.special-offer__info p {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 250px;
    font-family: "GothamPro Medium";
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
}


.special-offer__info span {
    position: absolute;
    top: 175px;
    left: 20px;
    color: rgba(122, 199, 81, 1);
    font-size: 26px;
    font-family: "GothamPro Medium";
}


.special-offer__info del {
    position: absolute;
    top: 2px;
    left: 70px;
    color: rgba(204, 204, 204, 1);
    font-size: 22px;
    font-family: sans-serif;
}


.special-offer__info button {
    position: absolute;
    top: 170px;
    left: 170px;
    background: rgba(122, 199, 81, 1);
    border-radius: 2px;
    padding: 8px 16px;
    color: #fff;
    font-family: "GothamPro Medium";
    font-size: 18px;
}

/*Products*/
#products {
    margin-top: 80px;
    
}


#products h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "GothamPro Medium";
    font-size: 36px;
    color: rgba(85, 85, 85, 1);
    margin-bottom: 20px;
}


.products__primary {
    color: rgba(122, 199, 81, 1);
    font-size: 24px;
    font-family: "GothamPro Medium";
    margin-left: 300px;
    transition: .5s;
}


.products__secondary {
    color: rgba(194, 194, 194, 1);
    font-size: 22px;
    font-family: "GothamPro Medium";
    margin-left: 50px;
    transition: .5s;
}


.products__primary:hover {
    cursor: pointer;
}


.products__secondary:hover {
    cursor: pointer;
    color: rgb(174, 255, 131);
}


.product {
    margin-top: 60px;
}


.product__info {
    margin-left: 70px;
}


.product__info--type {
    color: rgba(117, 117, 117, 0.71);
    font-size: 12px;
    font-family: "GothamPro Medium";
}


.product__info--name {
    color: #000;
    font-family: "GothamPro Medium";
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}


.product__info span {
    color: rgba(122, 199, 81, 1);
    font-size: 18px;
}


.product__info del {
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
    margin-left: 5px;
}


@keyframes move {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateX(-44px);
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateX(-44px);
    }
}